<style>
    #grad {
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(#ffffff,#a3bac0);

    }
    #vmus-screen {
        width: 100%;
        height: 100%;
        position: absolute;
        display: inline-block;
        background-repeat:no-repeat;
        background-size: 150px;
        background-position: 50% calc(50% - 50px);
        background-image: url(https://s3-eu-west-1.amazonaws.com/mapcentia-www/vmus/vesthimmerlands_museum_logo.png);

    }

    #vmus-text {
        width: 20em;
        margin: 0 auto;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        color: #666666;
    }

    #vmus-lur {
        position: absolute;
        right: 0;

        opacity: 0.2;
        -webkit-animation: moveclouds 45s linear infinite, sideWays 4s ease-in-out infinite alternate;
        -moz-animation: moveclouds 45s linear infinite, sideWays 4s ease-in-out infinite alternate;
        -o-animation: moveclouds 45s linear infinite, sideWays 4s ease-in-out infinite alternate;
        width: 100%;
        height: 100%;
        background-image: url(https://s3-eu-west-1.amazonaws.com/mapcentia-www/vmus/vesthimmerlands_museum_lurblaesere.png);
        background-size: 300px;
        background-repeat:no-repeat;
        background-position: right 0 bottom;

    }

    @-webkit-keyframes moveclouds {
        0% {
            right: -110px;
        }
        100% {
            right: 2000px;
        }
    }
   
</style>
<div id="grad">
    <div id="vmus-screen"></div>

    <div id="vmus-text">
        <p>Med det digitale kort er det muligt at tage på opdagelse i den vesthimmerlandske kulturarv. Klip på de forskellige punkter på kortet og få viden om udvalgte steder, personer eller genstande. Det er ligeledes muligt at planlægge en rute rundt i Vesthimmerland ved at trykke på den blå pil under hvert punkt, hvorefter de ønskede emner tilføjes en liste, som til slut er udgangspunktet for dannelsen en helt personligt, tilpasset rute.</p></div>
    </div>
    <div id="vmus-lur" class="bubble"></div>
    </div>
</div>
